<form [formGroup]="compraRecorrenteForm" (ngSubmit)="salvar()">
  <div class="grid">
    <div class="col-12">
      <div class="card">
        @if (isEdicao) {
        <h5>Editar compra recorrente #{{ compraRecorrenteId }}</h5>
        } @else {
        <h5>Nova compra recorrente</h5>
        }
        <div class="p-fluid p-formgrid grid">
          <div class="field col-12 md:col-6">
            <label htmlFor="description">Descrição</label>
            <input pInputText id="description" type="text" formControlName="description"/>
            <app-mensagem-erro-input [control]="obterControle('description')"></app-mensagem-erro-input>
          </div>

          <div class="field col-12 md:col-2">
            <label htmlFor="valor">Valor</label>
            <p-inputNumber id="valor" mode="currency" locale="pt-BR" currency="BRL" formControlName="amount"></p-inputNumber>
            <app-mensagem-erro-input [control]="obterControle('amount')"></app-mensagem-erro-input>
          </div>

          <div class="field col-12 md:col-2">
            <label htmlFor="startedAt">Inicia em</label>
            <p-calendar formControlName="startedAt" [showButtonBar]="true" dateFormat="dd/mm/yy" [showIcon]="true"></p-calendar>
            <app-mensagem-erro-input [control]="obterControle('startedAt')"></app-mensagem-erro-input>
          </div>          
  
          <div class="field col-12 md:col-4">
            <label for="nome">Categoria</label>
            <p-autoComplete formControlName="category" [suggestions]="categoriasFiltrados" (completeMethod)="buscarCategoria($event)" 
              field="description" [dropdown]="true" required="true">
            </p-autoComplete>
            <app-mensagem-erro-input [control]="obterControle('category')"></app-mensagem-erro-input>
          </div>

          <div class="field col-12 md:col-4">
            <label htmlFor="paymentMethod">Forma de pagamento</label>
            <p-dropdown id="paymentMethod" [options]="paymentMethods" placeholder="Selecione a forma de pagamento"
                        optionLabel="label" optionValue="value" formControlName="paymentMethod"></p-dropdown>
            <app-mensagem-erro-input [control]="obterControle('paymentMethod')"></app-mensagem-erro-input>
          </div>

          <div class="field col-12 md:col-2">
            <label htmlFor="active">Status</label>
            <p-toggleButton id="active" formControlName="active" onLabel="Ativo" offLabel="Inativo"></p-toggleButton>
          </div>

          <div class="field col-12 md:col-2"></div>

          <div class="field col-12 md:col-2">
            <button pButton type="button" label="Cancelar" icon="pi pi-times" class="p-button-secondary" (click)="cancelar()"></button>
          </div>

          <div class="field col-12 md:col-8"></div>
          
          <div class="field col-12 md:col-2">
            <button pButton [label]="isEdicao ? 'Salvar' : 'Cadastrar'" icon="pi pi-save" [disabled]="compraRecorrenteForm.invalid"></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>