<div class="grid">
	<div class="col-12">
		<div class="card">
            <p-confirmDialog key="confirm" [style]="{width: '350px'}"></p-confirmDialog>
            <p-toolbar styleClass="mb-4 gap-2">
                <ng-template pTemplate="left">
                    <h3 style="margin: 0;">Compras Parceladas</h3>
                </ng-template>
                <ng-template pTemplate="right">
                    <button pButton routerLink="/compra-parcelada" icon="pi pi-plus" label="Cadastrar" class="p-button-success mr-2"></button>
                </ng-template>
            </p-toolbar>
            
            <p-table
                [value]="comprasParceladas" 
                dataKey="id">
                <ng-template pTemplate="header">
                    <tr>
                        <!-- <th>ID</th> -->
                        <th>Descrição</th>
                        <th>Categoria</th>
                        <th>Data da compra</th>
                        <th>Parcelas</th>
                        <th>Valor</th>
                        <th>Status</th>
                        <th></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-compraParcelada>
                    <tr>
                        <!-- <td>{{ compraParcelada.id }}</td> -->
                        <td>{{ compraParcelada.description }}</td>
                        <td>{{ compraParcelada.category.description }}</td>
                        <td>{{ compraParcelada.boughtAt | date: 'dd/MM/yyyy' }}</td>
                        <td>{{ compraParcelada.installments }}</td>
                        <td>{{ compraParcelada.amount | currency:'BRL' }}</td>
                        <td><span [class]="'compra-parcelada-badge status-' + (compraParcelada.status ? compraParcelada.status.toLowerCase() : '')">{{getDescricaoCompraParceladaStatus(compraParcelada)}}</span></td>
                        <td style="width: 10rem">
                            <button pButton icon="pi pi-trash" style="font-size: 1rem; margin-right: 10px" class="p-button-danger" (click)="confirmarDelecao(compraParcelada)"></button>
                            <button pButton icon="pi pi-pencil" [routerLink]="['/compra-parcelada', compraParcelada.id]"></button>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="footer">
                    <tr>
                        <td colspan="3">{{comprasParceladas ? comprasParceladas.length : 0 }} compras parceladas</td>
                        <td colspan="1" class="text-right">Total</td>
                        <td colspan="3">{{valorTotalCompras | currency: 'BRL'}}</td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>
