<div class="grid">
	<div class="col-12">
		<div class="card">
            <p-confirmDialog key="confirm" [style]="{width: '350px'}"></p-confirmDialog>
            <p-toolbar styleClass="mb-4 gap-2">
                <ng-template pTemplate="left">
                    <h3 style="margin: 0;">Compras Recorrentes</h3>
                </ng-template>
                <ng-template pTemplate="right">
                    <button pButton routerLink="/compra-recorrente" icon="pi pi-plus" label="Cadastrar" class="p-button-success mr-2"></button>
                </ng-template>
            </p-toolbar>
            
            <p-table
                [value]="comprasRecorrentes" 
                dataKey="id"
                sortField="description" 
                [sortOrder]="1">
                <ng-template pTemplate="header">
                    <tr>
                        <th pSortableColumn="description">
                            Descrição <p-sortIcon field="description" />
                        </th>
                        <th>
                            Categoria
                        </th>
                        <th pSortableColumn="startedAt">
                            Data da compra <p-sortIcon field="startedAt" />
                        </th>
                        <th pSortableColumn="amount">
                            Valor <p-sortIcon field="amount" />
                        </th>
                        <th pSortableColumn="active">
                            Status <p-sortIcon field="active" />
                        </th>
                        <th></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-compraRecorrente>
                    <tr>
                        <td>{{ compraRecorrente.description }}</td>
                        <td>{{ compraRecorrente.category.description }}</td>
                        <td>{{ compraRecorrente.startedAt | date: 'dd/MM/yyyy' }}</td>
                        <td>{{ compraRecorrente.amount | currency:'BRL' }}</td>
                        <td>
                            @if (compraRecorrente.active) {
                                <td><span [class]="'compra-recorrente-badge status-ativo'">ATIVO</span></td>
                            } @else {
                                <td><span [class]="'compra-recorrente-badge status-inativo'">INATIVO</span></td>
                            }
                        </td>
                        <td style="width: 10rem">
                            <button pButton icon="pi pi-trash" style="font-size: 1rem; margin-right: 10px" class="p-button-danger" 
                                (click)="confirmarDelecao(compraRecorrente)"></button>
                            <button pButton icon="pi pi-pencil" [routerLink]="['/compra-recorrente', compraRecorrente.id]"></button>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="footer">
                    <tr>
                        <td colspan="2">{{comprasRecorrentes ? comprasRecorrentes.length : 0 }} compras recorrentes</td>
                        <td colspan="1" class="text-right">Total</td>
                        <td colspan="3">{{valorTotalCompras | currency: 'BRL'}}</td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>
