<div class="grid">
	<div class="col-12">
		<div class="card">
            <p-confirmDialog key="confirm" [style]="{width: '350px'}"></p-confirmDialog>
            <p-toolbar styleClass="mb-4 gap-2">
                <ng-template pTemplate="left">
                    <h3 style="margin: 0;">Categorias</h3>
                </ng-template>
                <ng-template pTemplate="right">
                    <button pButton routerLink="/categoria" icon="pi pi-plus" label="Cadastrar" class="p-button-success mr-2"></button>
                </ng-template>
            </p-toolbar>
            
            <p-table
                [value]="categorias" 
                dataKey="id">
                <ng-template pTemplate="header">
                    <tr>
                        <th>ID</th>
                        <th>Descrição</th>
                        <th></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-categoria>
                    <tr>
                        <td>{{ categoria.id }}</td>
                        <td>{{ categoria.description }}</td>
                        <td style="width: 10rem">
                            <button pButton icon="pi pi-trash" style="font-size: 1rem; margin-right: 10px" class="p-button-danger" (click)="confirmarDelecao(categoria)"></button>
                            <button pButton icon="pi pi-pencil" [routerLink]="['/categoria', categoria.id]"></button>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>
